.topdiv {
    background-image: url('../assents/Img/gym.jpg');
    height: 85vh;
}

.navbar {
    display: flex;
    height: 120px;
    justify-content: space-between;
    align-items: center;
}

.imgDiv {
    width: 30%;
    display: flex;
    justify-content: center;
}

.image {
    width: 70px;
    height: 70px;
}

.pageHeader {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: center;
    gap: 40px;
    cursor: pointer;
}

.unordersList {
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 20px;
    color: white;
}

.list:hover{

}

.loginButton {
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    background-color: #ff3333;
    color: #f0c3bd;
}